string-manipulation/src/main/mule/string-toReverse.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="string-toReverseFlow" doc:id="a2784526-2e39-45d1-a9fb-d345f314d6cb" >
		<http:listener doc:name="Listener" doc:id="5c001889-2cc7-471a-9b1d-2c7fa6d328da" config-ref="HTTP_Listener_config" path="/toReverse"/>
		<logger level="INFO" doc:name="Starts" doc:id="802d6183-07ef-46b5-9275-a838638c2027" message="Reversing of string starting"/>
		<ee:transform doc:name="ToReverse" doc:id="97ba5535-e12f-4ea5-b88c-ee27bea8c251" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import java!stringmanipulation::StringManipulation
---
{
	"Reverse": StringManipulation::reverseString(payload.in)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Ends" doc:id="8e705de4-b3d2-449b-87c9-ea7ec3a3179c" message="Reversing of string ends"/>
	</flow>
</mule>
